:root {
  --primary-background: #ccc;
  --secondary-background: #eee;
  --table-header-background: #04073b;
  --main-button-color: #04073b;
  --main-button-color-hover: #345;
  --primary-text-color: #333333;
  --secondary-text-color: #fff;
  --odd-td-color: #f8f0cd;
  --even-td-color: #fff;
  --table-row-hover: #0ae4ec;
  --close-action-color: #ad0c1c;
  --closse-action-color-hover: #e9273a;
  --success-action-color: #0b4628;
  --success-action-color-hover: #167443;
  --subtotal-color: #f8b632;
  --total-color: #db970e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-gap-20 {
  gap: 20px;
}
