@media print {
  #header,
  #button-wrapper,
  #pagination-wrapper,
  #search-params-wrapper,
  .td-type_of_flight {
    display: none !important;
  }

  body {
    overflow-x: hidden;
  }
  #table-wrapper {
    overflow-x: hidden;
  }
  #logbook-table th {
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
  }

  #logbook-table th:nth-child(1),
  #logbook-table .td-action:nth-child(1) {
    display: none;
  }
  #row-total td:nth-child(1),
  #row-subtotal td:nth-child(1) {
    display: none;
  }
  .td-aircraft_model {
    /*min-width: 80px !important;*/
    font-size: 10px !important;
  }
}
