.SpinnerOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}
.Spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light border for the circle */
  border-top: 4px solid var(--main-button-color); /* Colored border for the spinning part */
  border-radius: 50%; /* Makes it a circle */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Apply the spin animation */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Start at 0 degrees */
  100% {
    transform: rotate(360deg);
  } /* End at 360 degrees */
}
.SpinnerText {
  font-size: 20px;
  color: var(--primary-text-color);
}
